*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(rgb(170, 0, 0), rgb(70, 0, 0)); */
    background-image: url("./imgs/776715d4044c849cf7acb5ed72f77409.jpg");
    background-size: cover;
}
.height{
    height: 100vh;
}
.bg-darkred{
    background-color: rgb(70, 0, 0);
}
.text-darkred{
    color: rgb(70, 0, 0);
}